<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- Servlets -->
	<servlet>
		<servlet-name>projectServlet</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.ProjectServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>projectServlet</servlet-name>
		<url-pattern>/tempore/ProjectServices</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>projectStateServlet</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.ProjectStateServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>projectStateServlet</servlet-name>
		<url-pattern>/tempore/ProjectStateServicesClient</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.UserServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/tempore/UserServices</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>alertServlet</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.AlertServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>alertServlet</servlet-name>
		<url-pattern>/tempore/AlertServicesClient</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>clientServlet</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.ClientServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clientServlet</servlet-name>
		<url-pattern>/tempore/ClientServices</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>timeServlet</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.TimeServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>timeServlet</servlet-name>
		<url-pattern>/tempore/TimeServicesClient</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>taskServlet</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.TaskServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>taskServlet</servlet-name>
		<url-pattern>/tempore/TaskServicesClient</url-pattern>
	</servlet-mapping>


	<!-- IMAGES SERVLETS -->
	<context-param>
		<param-name>maxSize</param-name>
		<param-value>3145728</param-value>
	</context-param>
	<context-param>
		<param-name>slowUploads</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>newImageUploadServlet</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.image.NewUpploadImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newImageUploadServlet</servlet-name>
		<url-pattern>/uploadImage.upld</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>imageDownloadServlet</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.image.DonwloadImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageDownloadServlet</servlet-name>
		<url-pattern>/download.img</url-pattern>
	</servlet-mapping>



	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Tempore.html</welcome-file>
	</welcome-file-list>



	<!-- FILTRO de todos las pedidos al servidor -->
	<filter>
		<filter-name>Filter</filter-name>
		<filter-class>ar.fi.uba.tempore.gwt.server.filter.ServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter</filter-name>
		<url-pattern>/tempore/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>TimeServicesClient</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.TimeServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeServicesClient</servlet-name>
		<url-pattern>/tempore/TimeServicesClient</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TaskServicesClient</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.TaskServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskServicesClient</servlet-name>
		<url-pattern>/tempore/TaskServicesClient</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectStateServicesClient</servlet-name>
		<servlet-class>ar.fi.uba.tempore.gwt.server.ProjectStateServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectStateServicesClient</servlet-name>
		<url-pattern>/tempore/ProjectStateServicesClient</url-pattern>
	</servlet-mapping>


</web-app>